<div class="flex-panel debug">
  <div class="description panel-item debug">
    <app-main-text [paragraphs]="scene.paragraphs"></app-main-text>
  </div>
  <app-interactive
    class="item"
    *ngFor="let interactive of scene.interactives"
    [interactive]="interactive"
    (onActionSelected)="actionSelected($event)"
  ></app-interactive>
</div>
<div class="flex-panel debug">
  <div class="logging panel-item debug">
    <p>
      This is log. something lame happened This is log. something lame happened
      This is log. something lame happened
    </p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
  </div>

  <div class="panel-item debug">
    <p>
      This is log. something lame happened This is log. something lame happened
      This is log. something lame happened
    </p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
  </div>

  <div class="panel-item debug">
    <p>
      This is log. something lame happened This is log. something lame happened
      This is log. something lame happened
    </p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
    <p>This is log. something lame happened</p>
  </div>
</div>
