<div class="flex-panel debug">
  <div class="panel-box width-scene debug">
    <app-text-box [paragraphs]="scene.paragraphs"></app-text-box>
  </div>
  <div class="panel-box debug">
    <app-interactive
      class="item"
      *ngFor="let interactive of scene.interactives"
      [interactive]="interactive"
      (onActionSelected)="actionSelected($event)"
    ></app-interactive>
  </div>
  <div class="panel-box width-scene debug">
    <app-text-box [paragraphs]="scene.paragraphs"></app-text-box>
  </div>
</div>
