.flex-panel {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-around;
}

.panel-box {
  min-height: 400px;
  max-height: 800px;
  overflow-y: auto;
  overflow-x: auto;
  padding: 10px 10px;
}

.width-scene {
  min-width: 200px;
  max-width: 400px;
}