<div class="title-border">
  <mat-toolbar>
    <span class="title-text">Identity</span>
  </mat-toolbar>
</div>

<app-uniform-panel [keyValues]="identityView.keyValues"></app-uniform-panel>

<div class="title-border">
  <mat-toolbar>
    <span class="title-text">Characteristics</span>
  </mat-toolbar>
</div>

<app-uniform-panel
  [keyValues]="characteristicsView.keyValues"
></app-uniform-panel>

<div class="title-border">
  <mat-toolbar>
    <span class="title-text">Attributes</span>
  </mat-toolbar>
</div>

<app-uniform-panel
  [keyValues]="derivedAttributesView.keyValues"
></app-uniform-panel>

<div class="title-border">
  <mat-toolbar>
    <span class="title-text">Skills</span>
  </mat-toolbar>
</div>
