<div class="title-border">
  <mat-toolbar>
    <span class="title-text">Identity</span>
  </mat-toolbar>
</div>

<app-uniform-panel [keyValues]="identities"></app-uniform-panel>

<div class="title-border">
  <mat-toolbar>
    <span class="title-text">Characteristics</span>
  </mat-toolbar>
</div>

<app-uniform-panel [keyValues]="characteristics"></app-uniform-panel>

<div class="title-border">
  <mat-toolbar>
    <span class="title-text">Attributes</span>
  </mat-toolbar>
</div>

<div class="title-border">
  <mat-toolbar>
    <span class="title-text">Skills</span>
  </mat-toolbar>
</div>
