<div class="title-border">
  <mat-toolbar>
    <span class="title-text">Identity</span>
  </mat-toolbar>
</div>

<app-key-value-description-panel
  [items]="identityView"
></app-key-value-description-panel>

<div class="title-border">
  <mat-toolbar>
    <span class="title-text">Characteristics</span>
  </mat-toolbar>
</div>

<app-key-value-description-panel
  [items]="characteristicsView"
></app-key-value-description-panel>

<div class="title-border">
  <mat-toolbar>
    <span class="title-text">Attributes</span>
  </mat-toolbar>
</div>

<app-key-value-description-panel
  [items]="derivedAttributesView"
></app-key-value-description-panel>

<div class="title-border">
  <mat-toolbar>
    <span class="title-text">Skills</span>
  </mat-toolbar>
</div>

<app-key-value-description-panel
  [items]="skillsView"
></app-key-value-description-panel>
