<app-window-widget
  *ngFor="let keyValue of status.derivedAttributes.items"
  [keyValue]="keyValue"
  class="status"
></app-window-widget>

<div
  matTooltip="{{ status.weapon.identity.description }}"
  data-testid="tooltip-equipped"
  class="status"
>
  <span data-testid="label-equipped">Equipped: </span>
  <span data-testid="value-equipped">{{ status.weapon.identity.label }}</span>
  <div *ngIf="status.weapon.identity.name !== 'unarmed'">
    <button mat-fab color="primary" (click)="onActionSelected('unequip')"
      data-testid="equip-action-unequip"  matTooltip="Unequip weapon">
      <img src="../../../assets/icons/remove.svg" alt="UNEQUIP" />
    </button>
  </div>
</div>

<div matTooltip="{{ status.armor.identity.description }}" data-testid="tooltip-wearing" class="status">
  <span data-testid="label-wearing">Wearing: </span>
  <span data-testid="value-wearing">{{ status.armor.identity.label }}</span>
  <div *ngIf="status.armor.identity.name !== 'clothes'">
    <button mat-fab color="primary"
      (click)="onActionSelected('strip')"
      data-testid="wear-action-strip"
      matTooltip="Strip armor">
      <img src="../../../assets/icons/remove.svg" alt="STRIP" />
    </button>
  </div>
</div>

<app-window-widget
  [keyValue]="status.visibility"
  class="status"
></app-window-widget>
