<app-window-widget
  *ngFor="let keyValue of status.derivedAttributes.items"
  [keyValue]="keyValue"
  class="status"
></app-window-widget>

<app-equipped-widget
  [item]="status.weapon"
  [label]="'Equipped'"
  (actionSelected)="actionSelected.emit($event)"
>
</app-equipped-widget>

<app-equipped-widget
  [item]="status.armor"
  [label]="'Wearing'"
  (actionSelected)="actionSelected.emit($event)"
>
</app-equipped-widget>

<app-window-widget
  [keyValue]="status.visibility"
  class="status"
></app-window-widget>

<span class="status">Dodge?</span
><mat-checkbox
  #dodgeOption
  (change)="onChange(dodgeOption.checked)"
></mat-checkbox>

<app-action-widget
  *ngIf="showDisguise"
  [icon]="disguise.icon"
  [alt]="disguise.alt"
  [tooltip]="disguise.tooltip"
  [actionEvent]="disguise.actionEvent"
  (actionSelected)="actionSelected.emit($event)"
>
</app-action-widget>

<app-action-widget
  *ngIf="!showDisguise"
  [icon]="visible.icon"
  [alt]="visible.alt"
  [tooltip]="visible.tooltip"
  (actionSelected)="becomeVisible()"
>
</app-action-widget>
