<div class="card-box" matTooltip="{{ equipped.identity.description }}">
  <div>
    <div class="label">
      <span attr.data-testid="equip-label-{{ equipped.identity.name }}">{{
        equipped.identity.label
      }}</span>
    </div>
    <div class="action" *ngIf="equipped.identity.name !== 'unarmed'">
      <button
        mat-raised-button
        color="primary"
        (click)="onActionSelected(equipped)"
        attr.data-testid="unequip-action-{{ equipped.identity.name }}"
      >
        Unequip
      </button>
    </div>
  </div>
</div>
