<div class="card-box">
  <mat-card>
    <mat-card-title>{{ interactive.name }}</mat-card-title>
    <mat-card-content>{{ interactive.description }}</mat-card-content>
    <mat-card-actions>
      <ng-template ngFor let-action [ngForOf]="actions.keyValues">
        <div class="action">
          <button
            mat-raised-button
            color="primary"
            (click)="actionSelected(action)"
            id="{{ action.name }}"
          >
            {{ action.label }}
          </button>
        </div>
      </ng-template>
    </mat-card-actions>
  </mat-card>
</div>
