.card-box {
  margin: 5px 5px;
  min-width: 100px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.action {
  margin-right: 5px;
  display: inline-block;
}

.action-button {
  min-width: 100px;
  max-width: 200px;
  min-height: 40px;
  height: auto;
}