.flex-panel {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-around;
}

.vertical-scrollable {
  overflow-y: auto;
}

.section {
  padding: 10px 10px;
}

.main-box {
  min-height: 300px;
  max-height: 500px;
}

.half-box {
  min-height: 100px;
  max-height: 200px;
}

.text-box-width {
  min-width: 200px;
  max-width: 400px;
}