<div class="flex-panel">
  <div class="section text-box-width base-margin-left">
    <div class="title-border">
      <mat-toolbar>
        <span class="title-text">Character</span>
      </mat-toolbar>
    </div>
    <div class="main-box vertical-scrollable" data-testid="character">
      <div data-testid="identity">
        <app-key-value-window
          *ngFor="let keyValue of characterValues.identity.items"
          [keyValue]="keyValue"
        ></app-key-value-window>
      </div>
      <div data-testid="characteristics">
        <app-key-value-window
          *ngFor="let keyValue of characterValues.characteristics.items"
          [keyValue]="keyValue"
        ></app-key-value-window>
      </div>
      <div data-testid="derived-attributes">
        <app-key-value-window
          *ngFor="let keyValue of characterValues.derivedAttributes.items"
          [keyValue]="keyValue"
        ></app-key-value-window>
      </div>
      <div data-testid="skills">
        <app-key-value-window
          *ngFor="let keyValue of characterValues.skills.items"
          [keyValue]="keyValue"
        ></app-key-value-window>
      </div>
    </div>
  </div>
  <div class="section text-box-width">
    <div class="title-border">
      <mat-toolbar>
        <span class="title-text">Description</span>
      </mat-toolbar>
    </div>
    <div class="main-box vertical-scrollable">
      <app-text-area-window
        [paragraphs]="scene.description"
        data-testid="description"
      ></app-text-area-window>
    </div>
  </div>
  <div class="section">
    <div class="title-border">
      <mat-toolbar>
        <span class="title-text">Interactables</span>
      </mat-toolbar>
    </div>
    <div class="main-box vertical-scrollable">
      <div data-testid="interactables">
        <app-interactive-widget
          *ngFor="let interactive of scene.interactives.items"
          [interactive]="interactive"
          (onActionSelected)="actionSelected($event)"
        ></app-interactive-widget>
      </div>
    </div>
  </div>
  <div class="section text-box-width base-margin-right">
    <div class="title-border">
      <mat-toolbar>
        <span class="title-text">Action Log</span>
      </mat-toolbar>
    </div>
    <div class="main-box">
      <div class="half-box vertical-scrollable">
        <app-text-area-window
          [paragraphs]="logs"
          data-testid="log"
        ></app-text-area-window>
      </div>
      <div class="title-border">
        <mat-toolbar>
          <span class="title-text">Inventory</span>
        </mat-toolbar>
      </div>
      <div class="half-box vertical-scrollable">
        <div data-testid="inventory">
          <app-key-value-window
            *ngFor="let keyValue of inventory"
            [keyValue]="keyValue"
          ></app-key-value-window>
        </div>
      </div>
    </div>
  </div>
</div>
