<div class="flex-panel">
  <div class="section text-box-width base-margin-left border-blue">
    <div class="title-border">
      <mat-toolbar>
        <span class="title-text">Character</span>
      </mat-toolbar>
    </div>
    <div class="main-box vertical-scrollable" data-testid="character">
      <div data-testid="identity">
        <app-key-value-panel
          [panelName]="'identity'"
          [items]="characterValues.identity"
        ></app-key-value-panel>
      </div>
      <div data-testid="characteristics">
        <app-key-value-panel
          [panelName]="'characteristics'"
          [items]="characterValues.characteristics"
        ></app-key-value-panel>
      </div>
      <div data-testid="derived-attributes">
        <app-key-value-panel
          [panelName]="'derived-attributes'"
          [items]="characterValues.derivedAttributes"
        ></app-key-value-panel>
      </div>
      <div data-testid="skills">
        <app-key-value-panel
          [panelName]="'skills'"
          [items]="characterValues.skills"
        ></app-key-value-panel>
      </div>
    </div>
  </div>
  <div class="section text-box-width border-violet">
    <div class="title-border">
      <mat-toolbar>
        <span class="title-text">Scene Description</span>
      </mat-toolbar>
    </div>
    <div class="main-box vertical-scrollable">
      <app-text-area-window
        [paragraphs]="scene.description"
        data-testid="description"
      ></app-text-area-window>
    </div>
  </div>
  <div class="section border-aqua">
    <div class="title-border">
      <mat-toolbar>
        <span class="title-text">Scene objects</span>
      </mat-toolbar>
    </div>
    <div class="main-box vertical-scrollable">
      <div data-testid="interactables">
        <app-interactive-widget
          *ngFor="let interactive of scene.interactives.items"
          [interactive]="interactive"
          (onActionSelected)="actionSelected($event)"
        ></app-interactive-widget>
      </div>
    </div>
  </div>
  <div class="section text-box-width base-margin-right border-yellow">
    <div class="title-border">
      <mat-toolbar>
        <span class="title-text">What happened?</span>
      </mat-toolbar>
    </div>
    <div class="main-box">
      <div class="half-box vertical-scrollable">
        <app-text-area-window
          [paragraphs]="logs"
          data-testid="log"
        ></app-text-area-window>
      </div>
      <div class="title-border">
        <mat-toolbar>
          <span class="title-text">Inventory</span>
        </mat-toolbar>
      </div>
      <div class="half-box vertical-scrollable">
        <div data-testid="inventory">
          <div class="border-pink">
            <app-equipped-widget
              [equipped]="equipped"
              (onActionSelected)="actionSelected($event)"
            ></app-equipped-widget>
          </div>
          <app-equipment-widget
            *ngFor="let equipment of inventory"
            [equipment]="equipment"
            (onActionSelected)="actionSelected($event)"
          ></app-equipment-widget>
        </div>
      </div>
    </div>
  </div>
</div>
