<div class="card-box" matTooltip="{{ equipment.item.identity.description }}">
  <div class="label">
    <span attr.data-testid="equip-label-{{ equipment.item.identity.name }}">{{
      equipment.item.identity.label
    }}</span>
  </div>
  <div class="action">
    <button
      mat-fab
      color="primary"
      (click)="onActionSelected(equipment.action)"
      attr.data-testid="equip-action-{{ equipment.action.name }}"
      matTooltip="{{ tooltip }}"
    >
    <img src="{{ icon }}" alt="{{ tooltip }}" />
    </button>
  </div>
</div>
