.card-box {
  margin: 5px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.label {
  display: inline-block;
  margin-right: 10px;
}

.action {
  display: inline-block;
}