.flex-panel {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

.vertical-scrollable {
  overflow-y: auto;
}

.main-bar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 5px 20px;
  padding: 5px;
}

.section {
  padding: 10px;
}

.main-box {
  min-height: 200px;
  max-height: 600px;
}

.half-box {
  min-height: 100px;
  max-height: 200px;
}

.box-width {
  min-width: 200px;
  max-width: 400px;
}