<div class="main-bar title-text">
  <app-status-bar-widget [status]="characterStatus"></app-status-bar-widget>
</div>
<div class="flex-panel">
  <div class="section box-width base-margin-left">
    <div class="title-text">
      <span class="mat-h3">Character</span>
    </div>
    <div class="main-box vertical-scrollable" data-testid="character">
      <mat-accordion multi="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Identity</mat-panel-title>
            <mat-panel-description>
              cosmetic values for role play purposes
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div data-testid="identity">
            <app-key-value-description-panel
              [panelName]="'identity'"
              [items]="characterValues.identity"
            ></app-key-value-description-panel>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Characteristics</mat-panel-title>
            <mat-panel-description
              >physical and mental features</mat-panel-description
            >
          </mat-expansion-panel-header>
          <div data-testid="characteristics">
            <app-key-value-description-panel
              [panelName]="'characteristics'"
              [items]="characterValues.characteristics"
            ></app-key-value-description-panel>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Derived Attributes</mat-panel-title>
            <mat-panel-description
              >derived from characteristics</mat-panel-description
            >
          </mat-expansion-panel-header>
          <div data-testid="derived-attributes">
            <app-key-value-description-panel
              [panelName]="'derived-attributes'"
              [items]="characterValues.derivedAttributes"
            ></app-key-value-description-panel>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Skills</mat-panel-title>
            <mat-panel-description>known abilities</mat-panel-description>
          </mat-expansion-panel-header>
          <div data-testid="skills">
            <app-key-value-description-panel
              [panelName]="'skills'"
              [items]="characterValues.skills"
            ></app-key-value-description-panel>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <div class="section box-width">
    <div class="main-box">
      <div class="title-text">
        <span class="mat-h3">Scene Description</span>
      </div>
      <div class="half-box vertical-scrollable">
        <app-text-area-widget
          [paragraphs]="scene.description"
          data-testid="description"
        ></app-text-area-widget>
      </div>
      <div class="title-text">
        <span class="mat-h3">Action Logs</span>
      </div>
      <div class="half-box vertical-scrollable">
        <app-text-area-widget
          [paragraphs]="logs"
          data-testid="log"
        ></app-text-area-widget>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="title-text">
      <span class="mat-h3">Scene Interactives</span>
    </div>
    <div class="main-box vertical-scrollable">
      <div data-testid="interactives">
        <app-interactive-panel
          *ngIf="canAct"
          [panelName]="'interactives'"
          [interactives]="scene.interactives"
          (actionSelected)="actionSelected.emit($event)"
        ></app-interactive-panel>
        <mat-spinner *ngIf="!canAct" class="box-width"></mat-spinner>
      </div>
    </div>
  </div>
  <div class="section box-width base-margin-right">
    <div class="main-box">
      <div class="title-text">
        <span class="mat-h3">Inventory</span>
      </div>
      <div class="vertical-scrollable">
        <div data-testid="inventory">
          <app-inventory-panel
            [equipped]="equipped"
            [inventory]="inventory"
            [panelName]="'inventory'"
            (actionSelected)="actionSelected.emit($event)"
          ></app-inventory-panel>
        </div>
      </div>
    </div>
  </div>
</div>
