.flex-panel {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.main-bar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 10px 20px;
  padding: 5px;
}

.section {
  padding: 10px;
}

.content-box {
  min-width: 200px;
  max-width: 400px;
}

.large-box {
  min-width: 400px;
  max-width: 600px;
}

.image {
  width: 512px;
  height: 512px;
}
