<div class="header" role="header">
  <h3 class="mat-display-2">Lamest Game Project</h3>
</div>

<div class="main-content" role="main">
  <mat-grid-list cols="5" rowHeight="50px">
    <mat-grid-tile colspan="5" rowspan="5">
      <app-main-text [text]="scene.text"></app-main-text>
    </mat-grid-tile>
    <mat-grid-tile rowspan="4" *ngFor="let interactive of scene.interactives">
      <app-interactive
        [interactive]="interactive"
        (onActionSelected)="actionSelected($event)"
      ></app-interactive>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<hr />
<div class="footer">
  <h4 class="mat-display-1">This is a toy project.</h4>
</div>

<router-outlet></router-outlet>
