<div class="header mat-headline" role="header">
  <mat-toolbar color="primary">
    <span>Lamest Game</span>
    <span class="span-spacer"></span>
    <button
      mat-icon-button
      aria-label="source code"
      (click)="goToLink('https://github.com/malkaviano/lamest-game')"
      data-testid="github"
    >
      <img
        class="github"
        alt="github"
        src="../assets/icons/github-mark-white.png"
      />
    </button>
  </mat-toolbar>
</div>

<div class="main" role="main">
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">Sidenav content</mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
