<div matTooltip="hit points" data-testid="tooltip-status" class="status">
  <span data-testid="label-hp">HP</span>
  <span>:&nbsp;&nbsp;</span>
  <span data-testid="value-hp">{{
    status.derivedAttributes.items[0].value
  }}</span>
</div>
<div matTooltip="energy points" data-testid="tooltip-ep" class="status">
  <span data-testid="label-ep">EP</span>
  <span>:&nbsp;&nbsp;</span>
  <span data-testid="value-ep">{{
    status.derivedAttributes.items[1].value
  }}</span>
</div>
<div matTooltip="movement" data-testid="tooltip-mov" class="status">
  <span data-testid="label-mov">MOV</span>
  <span>:&nbsp;&nbsp;</span>
  <span data-testid="value-mov">{{
    status.derivedAttributes.items[2].value
  }}</span>
</div>
<div matTooltip="equipped" data-testid="tooltip-equipped" class="status">
  <span data-testid="label-equipped">EQUIPPED</span>
  <span>:&nbsp;&nbsp;</span>
  <span data-testid="value-equipped">{{
    status.weapon.identity.label | uppercase
  }}</span>
</div>
<div matTooltip="visibility" data-testid="tooltip-visibility" class="status">
  <span data-testid="label-visibility">VISIBILITY</span>
  <span>:&nbsp;&nbsp;</span>
  <span data-testid="value-visibility">{{
    status.visibility | uppercase
  }}</span>
</div>
