<div class="card-box">
  <mat-card>
    <mat-card-title>{{ interactive.name }}</mat-card-title>
    <mat-card-subtitle>{{ interactive.brief }}</mat-card-subtitle>
    <mat-card-content>{{ interactive.long }}</mat-card-content>
    <mat-card-actions>
      <button
        *ngFor="let interactive of interactive.actions"
        mat-stroked-button
        color="primary"
        (click)="actionSelected(interactive.id)"
        id="{{ interactive.id }}"
      >
        {{ interactive.name }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
