/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: larger; }

.debug {
  border: 1px solid;
}

.base-margin-left {
  margin-left: 20px;
}

.base-margin-right {
  margin-right: 20px;
}

.title-text {
  color: rgb(255, 235, 59);
  border: 5px solid #607D8B;
  border-radius: 25px;
  text-align: center;
  margin: 10px 0;
}

.vertical-scrollable {
  overflow-y: scroll;
}