/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: larger; }

.debug {
  border: 1px solid;
}

.title-text {
  color: rgb(255, 235, 59);
  border: 5px solid #607D8B;
  border-radius: 25px;
  text-align: center;
}

.vertical-scrollable {
  overflow-y: auto;
}