<div class="item-card" matTooltip="{{ equipment.item.identity.description }}">
  <div class="item-info">
    <span class="item-label" attr.data-testid="equip-label-{{ equipment.item.identity.name }}">{{
      equipment.item.identity.label
    }}</span>
  </div>
  <div class="item-action">
    <button
      mat-raised-button
      [class]="'action-button ' + getActionClass()"
      (click)="onActionSelected(equipment.action)"
      attr.data-testid="equip-action-{{ equipment.action.name }}"
      matTooltip="{{ tooltip }}"
    >
      <mat-icon class="action-icon">
        <img src="{{ icon }}" alt="{{ tooltip }}" class="action-image" />
      </mat-icon>
      <span class="action-text">{{ tooltip }}</span>
    </button>
  </div>
</div>
